# Dataset: "Monthly average earth surface temperature"
[Dtaset Origin](https://ourworldindata.org/grapher/monthly-average-surface-temperatures-by-year)

In [22]:
import pandas as pd

df = pd.read_csv("monthly-average-surface-temperatures-by-year.csv")
df = df.rename(columns={"Year": "Month"})
df.head(5)

,Entity,Code,Month,2025,2024,2023,2022,2021,2020,2019,...,1959,1958,1956,1954,1952,1957,1955,1953,1951,1950
0,Afghanistan,AFG,1,-1.812812,3.300064,-4.335608,-0.322859,-1.001608,-2.560545,0.585145,...,-2.333814,0.576404,-3.351925,-2.276692,-2.812619,-4.239172,-2.191683,-2.915993,-3.126317,-2.655707
1,Afghanistan,AFG,2,1.728558,1.024550,4.187041,2.165870,5.688000,2.880046,0.068664,...,-1.545529,0.264962,0.455350,-0.304205,0.798226,-2.747945,1.999074,1.983414,-2.642800,-3.996040
2,Afghanistan,AFG,3,6.922349,5.843506,10.105444,10.483686,9.777976,6.916731,5.758049,...,5.942937,7.716459,5.090270,4.357703,4.796146,4.434027,7.066073,4.590406,3.054388,3.491112
3,Afghanistan,AFG,4,16.707405,11.627398,14.277164,17.227650,15.168276,12.686832,13.838840,...,13.752827,14.712909,11.982360,12.155265,13.119270,8.263829,10.418768,11.087193,9.682878,8.332797
4,Afghanistan,AFG,5,21.536873,18.957850,19.078170,19.962734,19.885902,18.884047,18.461287,...,17.388723,16.352045,20.125462,18.432117,17.614851,15.505956,15.599709,17.865084,17.095737,17.329062

In [23]:
# pick average Word temperature
df = df[df.Entity == "World"]
# drop code and year 2025 (not complete data)
df = df.drop(columns=["Code", "2025"])

In [24]:
df

,Entity,Month,2024,2023,2022,2021,2020,2019,2018,2017,...,1959,1958,1956,1954,1952,1957,1955,1953,1951,1950
2508,World,1,13.140137,12.688526,12.719246,12.685204,13.023134,12.726316,12.682678,12.845469,...,11.933128,12.146469,11.685552,11.566703,11.932160,11.654467,11.861243,11.789771,11.523798,11.531446
2509,World,2,13.539749,13.022077,12.959181,12.789691,13.328617,13.037866,12.992087,13.228996,...,12.166564,12.260637,11.847906,11.934103,12.138316,11.933087,11.813140,12.121894,11.683642,11.792894
2510,World,3,14.137102,13.920588,13.803046,13.598597,13.896722,13.917256,13.682286,13.908754,...,12.976377,12.874575,12.566052,12.661359,12.666221,12.605082,12.384253,12.756660,12.563849,12.635241
2511,World,4,15.031858,14.682203,14.644942,14.552206,14.881941,14.798871,14.666776,14.689877,...,13.894122,13.822483,13.482031,13.588794,13.655711,13.701574,13.517133,13.859468,13.642841,13.525023
2512,World,5,15.913483,15.656947,15.517449,15.518996,15.727563,15.618407,15.513449,15.634159,...,14.731524,14.835061,14.425101,14.617604,14.697468,14.719256,14.542181,14.871989,14.849872,14.560052
2513,World,6,16.657152,16.514093,16.290827,16.195406,16.343060,16.351522,16.207940,16.184803,...,15.466627,15.442454,15.183413,15.253416,15.439003,15.511520,15.263322,15.458577,15.482859,15.342779
2514,World,7,16.907806,16.953165,16.606314,16.559742,16.554218,16.625830,16.507273,16.494555,...,15.700268,15.743859,15.449194,15.497781,15.688249,15.652612,15.466534,15.727818,15.561926,15.516623
2515,World,8,16.822422,16.820910,16.407060,16.422468,16.378103,16.467400,16.319836,16.407322,...,15.518123,15.534281,15.228142,15.309569,15.424915,15.584263,15.511971,15.582090,15.623646,15.295242
2516,World,9,16.174273,16.376972,15.795761,15.847732,15.879856,15.825090,15.645767,15.725905,...,14.741945,14.790604,14.524727,14.571209,14.833747,14.912519,14.762897,14.814323,14.953505,14.781541
2517,World,10,15.245267,15.296179,14.855305,14.867675,14.822323,14.899514,14.800986,14.805730,...,13.808416,13.822921,13.460048,13.674780,13.754437,13.924985,13.708577,13.848549,13.964506,13.799805
2518,World,11,14.098477,14.224238,13.532649,13.716454,13.907555,13.775336,13.608685,13.618404,...,12.634906,12.737993,12.516739,12.687242,12.459018,12.860126,12.450246,12.676728,12.790499,12.469404
2519,World,12,13.423883,13.510272,12.935972,12.987495,12.900242,13.204703,12.996236,13.037093,...,12.074788,12.056956,11.918507,11.852879,11.963485,12.206346,11.719392,12.070186,12.201183,12.003315

In [28]:
# change format from wide to long, apply datatime
import numpy as np
import datetime

# [Date, Temp]
rows = []

for i, r in df.iterrows():
    years_temp = r.iloc[2:]
    month = r[1]
    for year, temp in years_temp.items():
        date = datetime.datetime(year=int(year), month=month, day=1)
        row = [date, temp]
        rows.append(row)

/tmp/ipykernel_5861/3398232380.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  month = r[1]

In [35]:
world_df = pd.DataFrame(rows, columns=["date", "temp"])

In [36]:
world_df.to_csv("world_avg_temp.csv", index=False)